<div id="sign-in-container">
  <div class="main-content">
    <button class="signin-button signin-google">
      <%= link_to  'Signin With Google', user_google_oauth2_omniauth_authorize_path %></h4>
    </button>
  </div>
</div>
