<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main-content">
  <div class="new-ride-offer">
    <%= render 'form', ride_offer: @ride_offer %>
    <%= link_to 'Back', ride_offers_path %>
  </div>
</div>

